

/* ---------------------------------------------------------------------- */
/*	Media Queries
/* ---------------------------------------------------------------------- */

/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
        
    /* -------------------------------------------------- */
    /*  
    /* -------------------------------------------------- */

    .content{width: auto; padding: 50px 20px 50px; }
    footer .content{padding: 0 20px 0;}


}

/* Tablet Landscape size to standard 1024 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1024px) {
		
	/* -------------------------------------------------- */
	/*	
	/* -------------------------------------------------- */

	.content{width: auto; padding: 50px 20px 50px; }
    footer .content{padding: 0 20px 0;}


}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
		
	/* -------------------------------------------------- */
	/*	
	/* -------------------------------------------------- */

    .content{width: auto; padding: 50px 20px 50px; }
    footer .content{padding: 0 20px 0;}
  
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
		
	/* -------------------------------------------------- */
	/*	Header
	/* -------------------------------------------------- */
    
    nav .logo-mini{display:none !important;}
    nav ul.redessociais{margin-right: 20px;}
    
    /*menu*/
    nav a.icon-menu{margin-left: 20px;}
    nav ul.menu li{margin:5px 0 5px 20px;}
    
    /* -------------------------------------------------- */
	/*	Corpo
	/* -------------------------------------------------- */

    .content{width: auto; padding: 50px 20px 50px; }
    
    /*portfolio*/
    .owl-carousel{width:auto;}
    .owl-carousel .owl-wrapper-outer{width:auto;}
    .carousel-portfolio .crop-owl-portfolio{width:auto;}
    .wrap-container .carousel-portfolio .prev{height:43px; background:#70bfda; top:31%; left:20px;}
    .wrap-container .carousel-portfolio .next{height:43px; background:#70bfda; top:31%; right:20px;}
    
    /*contato*/
    .wrap-container section.contato form{width:auto;}
    .wrap-container section.contato form input{width:100%;}
    .wrap-container section.contato form textarea{width:100%;}
    
    /* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */
    
    footer .content{padding: 0 20px 0;}
    footer p{width: 150px; font-size:12px;}
    footer a#voltar-topo{font-size: 16px; top:16px;}
    


}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
		
    /* -------------------------------------------------- */
	/*	Header
	/* -------------------------------------------------- */
    
    nav .logo-mini{display:block !important;}
    
	/* -------------------------------------------------- */
	/*	Corpo
	/* -------------------------------------------------- */

    .content{width: auto; padding: 50px 20px 50px; }
    
    /*portfolio*/
    .wrap-container .carousel-portfolio .prev{top:40%;}
    .wrap-container .carousel-portfolio .next{top:40%;}
    
    /* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */
    
    footer .content{padding: 0 20px 0;}




}
